/* default text */
body {
	color: #FFFFFF;
	font: normal normal 400 1.0em/1.2em Roboto,sans-serif;
	position: absolute;
}
p {
	margin: 1em 0;
	text-align: justify;
	text-indent: 1.5em;
}
h1, h2, h3, h4 {
	font-family: Roboto,sans-serif;
	font-weight: 700;
}
h1 {font-size: 150%;}
h2 {font-size: 140%;}
h3 {font-size: 130%;}
h4 {font-size: 120%;}
.bold {font-weight: 700;}
.center-align {text-align: center;}
.capitalize {text-transform: capitalize;}
.copytext {color: #DDDDDD;}
.dark {color: #000000;}
.fout-hide {visibility: hidden;}
.large-font {font-size: 62px;}
.no-indent {text-indent: 0;}
.print-only {display: none}
.right-align {text-align: right;}
.small-caps {font-variant: small-caps;}

/*
a:link		{ color:#CCFFFF; text-decoration:none; }
a:visited	{ color:#CCFFFF; text-decoration:none; }
a:active	{ color:#CCFFCC; text-decoration:none; }
a:hover		{ color:#66CCFF; text-decoration:none; }
.disabled a:hover, .disabled a:active	{ text-decoration:line-through; cursor:default; }
*/

hr {
	border: 0 none;
	border-bottom: 1px solid #FFFFFF;
	border-top: 1px solid #AAAAAA;
	display: block;
	font-size: 1px;
	line-height: 0;
	margin: 6px auto;
	padding: 0;
	width: 80%;
}

/* background */
body > .background-img {
	height: 115%;
	left: -7.5%;
	position: fixed;
	top: -15%;
	width: 115%;
	z-index: 0;
}

/* navigation menu */
nav {
	background: rgb(50,50,50);
	background: rgba(50,50,50,0.5);
	border-bottom-right-radius: 10px;
	box-shadow: 0 0 8px 2px rgba(75,75,75,0.8);
	left: 0;
	padding: 15px 0;
	position: fixed;
	top: 0;
	z-Index: 5;
}
nav ul {
	list-style: none;
}
nav li a {
	color: #3333AA;
	display: block;
	font-family: Michroma,sans-serif;
	padding: 5px 20px;
	text-decoration: none;
	transition: color 500ms ease-out, text-shadow 500ms ease-out;
	white-space: nowrap;
}
nav li a:hover {
	background: rgb(25,25,25);
	background: rgba(50,50,50,0.8);
	color: #FFFFFF;
	text-shadow: 0 0 3px rgba(50,50,50,0.8);
}
li .red {color: #FF7575;}
li .red:hover,
li .red:active {color: #FF3838;}
li .green {color: #BAFF75;}
li .greenLink:hover,
li .greenLink:active {color: #9CFF38;}


header {
	background: transparent;
	margin: 0 auto;
	position: relative;
	width: 620px;
	z-index: 4;
}

main {
	background: transparent;
	border: 0 none red;
	margin: 15px auto;
	margin-bottom: 51px;
	padding: 1px 0;
	position: relative;
	width: 620px;
	z-index: 3;
}

footer {
	background: #DF781C;
	bottom: 0;
	left: 50%;
	position: absolute;
	width: 0;
	z-index: 3;
}

.floating-verse {
	background: rgb(250,250,250);
	background: rgba(250,250,250,0.9);
	border: 2px ridge #707070;
	border-radius: 10px;
	color: #000000;
	left: 5vw;
	padding: 10px;
	position: fixed;
	top: 50%;
	width: 250px;
	z-index: 2;
}

#headerContainer	{ height:100px; background:transparent url('../pics/trans-header-bg.png') repeat-x 0 0; border:1px solid #C0C0C0; border-top:0 none; -moz-border-radius:0 0 8px 8px; -webkit-border-radius:0 0 8px 8px; border-radius:0 0 8px 8px; }

#bannerText	{ margin:2px 0; font:normal normal 400 56px 'Lobster1.4Regular',Arial,sans-serif; color:rgb(255,255,255); letter-spacing:0; word-spacing:0; background:transparent; text-align:center; transition: color 2.0s ease-out; }

#bannerText2 { margin:0 auto; font:normal normal 400 58px/70px 'Lobster1.4Regular',Arial,sans-serif; color:rgb(255,255,255); letter-spacing:0.0; word-spacing:0; background:transparent; text-align:center; transition: color 2.0s linear; }

#bannerText.fadeInText, #bannerText2.fadeInText {
	color: rgb(0,0,0);
	color: rgba(0,0,0,0);
}

#contentContainer	{ background:#656575; margin-top:15px; padding:15px; border:0 none yellow;
-o-border-radius:8px;
-icab-border-radius:8px;
-khtml-border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}


/* thumbnail rollover */
.thumb {
	display: block;
	text-decoration: none;
	background: transparent;
	margin: 5px 3px;
	padding: 3px;
	border: 1px solid #FFFFFF;
}
.thumb:hover {
	text-decoration: none;
	background-color: #FFFFD0;
}
.thumb b {
	display: block;
	visibility: hidden;
	position: absolute;
	top: 128px;
	left: 150px;
	padding: 10px;
	opacity: 0;
	box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	padding: 10px;
	border: 1px solid #aaa;
	background: #fff;
	transition: opacity 0.6s ease-in-out;
}
.thumb b img {
	display: block;
	width: 300px;
	height: 200px;
}
.thumb:hover b {
	visibility: visible;
	opacity: 1.0;
}
/* end thumbnails */
