<!-- left-hand content -->
<div style="float:left;padding:0px;margin:0px 20px;border:1px none yellow;">
	<div>
		<img src="assets/img/thumbs/male_prisoner.jpg" class="thumb" alt="" />
	</div>
	<div>
		<img src="assets/img/thumbs/darrington_chapel.jpg" class="thumb" alt="" />
	</div>
	<div class="thumb">
		<img src="pics/thumbs/thumb_female_prisoner.jpg" style="display:block;width:100px;height:70px;" alt="" />
		<b><img class="large" src="pics/thumbs/thumb_female_prisoner.jpg" alt="" /></b>
	</div>
</div>

<!-- right-hand content -->
<section>
	<h2 class="left-align">Our mission</h2>
	<h4 class="left-align">"Remember the prisoners as if chained with them..."
		<br />Heb 13:3a
	</h4>
	<p class="no-indent">
	P.B.I. involves Christian men and women in sharing the love of Jesus with those behind bars. We minister to men and women without hope, locked behind prison walls and in desperate need of the Savior, Jesus Christ. P.B.I. volunteers hold weekend prison revivals in the Texas Department of Criminal Justice system, visiting prisons throughout the state of Texas. These three-day weekend revivals are held every other month, on average, while visitation and discipleship opportunities are available each month.  We also provide study Bibles, Bible correspondence courses and indigent supplies for the inmates.
	</p>
	<hr />
	<h2>You were created with a purpose!</h2>
	<h4>Is your life empty and without purpose?</h4>
	<p>
	Every person - past, present, future, living or dead - was created for a purpose. The lump of clay doesn't know what it will become, but the potter knows before the clay is ever taken out of the ground. The clay is molded and shaped into a worthy and beautiful vessel that serves many useful purposes. You are like that lump of clay at birth, without direction or purpose, but God has a purpose for you that He envisioned before the foundation of the world. 
	</p>
	<p>
	Throughout your life you may have been told that you were worthless and would never amount to anything. Those are simply the words of men, some without a purpose also. The <b>TRUTH</b> is that you are of great value to The One who created you, because He loves you. You exist today simply because He formed you in your mother's womb. If the creator of all the heavens and earth says that you are worthy and have a purpose, then the words of ordinary men become meaningless. Find out why God created you, and what your reason for existence is. Ask God to show you the way through His son Jesus Christ, and hang on for the wonderful journey that awaits you!
	</p>
</section>
